/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Silkscreen:wght@400;700&display=swap");

/* font-family: 'Bebas Neue', cursive; */
/* font-family: 'Silkscreen', cursive; */

/* VARIABLES */
/* COLORS */
:root {
  --main-color: #ffffff;
  --projects-title-color: #ffee00;
}

/* RESET */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: "Inter Tight", sans-serif;
  letter-spacing: 0.1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: linear-gradient(-45deg, #001620, #300930, #001620);
}

body::-webkit-scrollbar {
  width: .6rem;
}

body::-webkit-scrollbar-track {
  background-color: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(196, 0, 196);
}

img {
  max-width: 100%;
  height: auto;
}

/* HEADER */
.header {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--main-color);
  min-height: 4rem;
  max-height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  z-index: 999;
}

.header p {
  font-weight: bold;
  font-size: 1.1rem;
  color: #000000;
}

.hamburger-box {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 1rem;
  right: 5vw;
  z-index: 9999;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: #000000;
}

.hamburger-box,
.hamburger-box::before,
.hamburger-box::after {
  color: #000000;
}

/* NAVBAR */
.navbar {
  position: fixed;
  z-index: 998;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #ffffff;
  transition: transform 300ms ease;
  transform: translate(0, 100%);
  overflow-y: auto;
}

.navbar.is-active {
  transform: translate(0, -3.9rem);
  z-index: 998;
}

.navbar ul {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0;
}

.navbar ul img {
  min-width: 5rem;
  max-width: 5rem;
}

.navbar a {
  width: inherit;
  padding: 1.8rem;
  display: block;
  font-size: 1.1rem;
  text-decoration: none;
  color: #000000;
}

.navbar-social {
  display: flex;
}

/* MAIN CONTAINER */
.container {
  width: 100%;
  margin: 0 auto;
}

/* SECTION */
.section {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.section:last-child {
  margin-bottom: 4rem;
}

.section-title {
  width: 90%;
  margin: 0 auto;
  margin: 4rem auto;
  padding: 1rem 0;
  text-align: center;
  background-color: var(--main-color);
  color: #000000;
  border-radius: 1rem;
}

/* HERO SECTION */
.atropos-header {
  margin-top: 2rem;
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: url("../assets/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
}

#hero {
  min-width: 90%;
  max-width: 90%;
  min-height: auto;
  max-height: auto;
  margin: 0 auto;
}

#hero-me {
  margin: 1rem;
  text-align: center;
}

#hero-me h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 2.5rem;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#hero-me h4 {
  font-family: "Silkscreen", cursive;
  font-size: .6rem;
  color: #000000;
  width: 70%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: .5rem 1rem;
  border-radius: 1rem;
}

#hero-me-photo {
  margin: 0 auto;
  height: 8rem;
  width: 8rem;
  border: 2px solid #ffffff;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
}

/* PROJECTS SECTION */
#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* ARTICLES */
.article {
  font-size: 1rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  color: var(--main-color);
  background: rgba(255, 255, 255, .2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-top: thin solid rgba(255, 255, 255, .15);
  border-left: thin solid rgba(255, 255, 255, .15);
}

.article a {
  text-decoration: none;
  color: var(--main-color);
}


.frontend-practice-link {
  color: yellow !important;
}

.article a p {
  color: var(--main-color);
}

.article img {
  width: 60%;
  border-radius: .5rem;
}

.article h3 {
  color: var(--projects-title-color);
}

/* FORM VALIDATES */
.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 2rem;
  width: 90%;
}

.contact-form>* {
  padding: 1rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form textarea {
  resize: none;
}

.contact-form small {
  margin-top: -1rem;
  color: var(--main-color);
}

.contact-form-response {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: "Inter Tight", sans-serif;
  background-color: var(--main-color);
  border-radius: 0.5rem;
}

.contact-form input[type="submit"] {
  background-color: rgb(136, 0, 136);
  color: var(--main-color);
  width: 50%;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.contact-form *::placeholder {
  color: var(--second-color);
}

.contact-form [required]:valid {
  border: 1px solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: 1px solid var(--form-error-color);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  border-radius: 0.5rem;
  color: #ffffff;
  transition: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* FOOTER */
.footer {
  display: none;
}

/* MEDIA QUERY 768 - 1024 */
@media (min-width: 768px) and (max-width: 1023px) {

  /* MAIN CONTAINER */
  .container {
    width: 90%;
  }

  /* HERO SECTION */
  #hero-me-photo {
    height: 7rem;
    width: 7rem;
  }

  /* ARTICLES */
  .article img {
    width: 30%;
  }

  /* FORM VALIDATES */
  .contact-form {
    width: 80%;
    padding: 0;
    margin: 0 auto;
  }

  .contact-form input[type="submit"] {
    width: 30%;
  }
}

/* MEDIA QUERY > 1024 */
@media (min-width: 1024px) {

  /* MAIN CONTAINER */
  .container {
    width: 70%;
    margin: 0 auto;
    padding: 0;
  }

  /* HEADER */
  .header {
    display: none;
  }

  .hamburger {
    display: none;
  }

  /* NAVBAR */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate(0, -100%);
    display: flex;
    width: 100%;
    height: 8vh;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease-in-out;
  }

  .navbar ul {
    width: 70%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 1.5rem 0;
  }

  .navbar a {
    width: auto;
    padding: 0;
    font-size: 1.1rem;
    transition: all 200ms ease;
  }

  .navbar a:hover {
    transform: scale(1.1);
    color: var(--third-color);
  }

  .navbar-social {
    display: flex;
    width: 6rem;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  /* SECTION */
  .section {
    width: 100%;
  }

  .section:last-child {
    margin-bottom: 4rem;
  }

  .section-title {
    width: 100%;
  }

  /* HERO SECTION */
  #hero {
    min-width: 100%;
    max-width: 100%;
  }

  .atropos-header {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #hero-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
    text-align: center;
  }

  #hero-me h1 {
    font-size: 4rem;
  }

  #hero-me h4 {
    font-size: 1rem;
  }

  #hero-me-photo {
    height: 12rem;
    width: 12rem;
    border: none;
    border-radius: 50%;
  }

  /* PROJECTS SECTION */
  #projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .article {
    font-size: 1rem;
    max-width: 40%;
    min-height: auto;
    margin: 0;
    padding: 1rem 2rem;
    cursor: pointer;
    text-align: center;
    transition: all 200ms ease;
  }

  .article:hover {
    transform: scale(1.03);
    background: rgba(255, 255, 255, 0.4);
  }

  /* EXPERIENCE SECTION */
  #experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  #experience article {
    min-width: 100%;
    max-width: 100%;
  }

  #experience article:hover {
    transform: scale(1);
    background: rgba(255, 255, 255, 0.2);
    cursor: auto;
  }

  /* FORM */
  .contact-form {
    max-width: 60%;
  }

  .contact-form input[type="submit"] {
    width: 20%;
    transition: all 200ms ease;
  }

  .contact-form input[type="submit"]:hover {
    background-color: rgba(196, 0, 196, 1);
    transform: scale(1.03);
  }

  /* FOOTER */
  .footer {
    display: block;
    width: 100%;
    text-align: center;
    color: #ffffff;
    padding: 0.5rem;
    margin: 0;
  }
}